#dashboard {
    width: 100%;
    height: 100%;
    
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard_content {
    height: calc(100% - 34px);
    overflow-y: auto;
    overflow-x: auto;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    background: color-mix(in srgb, var(--background-primary) 50%, transparent);
    border: 2px solid var(--background-secondary);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    
    margin: 10px;
    padding: 5px;
    
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 2.5rem;
        
        background: color-mix(in srgb, var(--background-primary) 90%, transparent);
        border: 2px solid var(--background-secondary);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        
        padding-left: calc(var(--radius) / 2);
        
        
        .logo_container {
            display: flex;
            align-items: center;
            
            font-family: "Megrim", monospace;
            font-weight: bolder;
            font-size: 1.5em;
            
            cursor: default;
            user-select: none;
            
            .logo {
                height: 1.5rem;
            }
        }
    }
    
    .footer {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        height: 2.5rem;
        width: 100%;
        
        font-family: "Mojangles", Arial, monospace;
        
        background: var(--background-secondary);
        border-radius: calc(var(--radius) - 2px);
        
        margin-top: auto;
    }
}

.nav {
    height: 100%;
    
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    
    button {
        height: 100%;
        
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        
        background: var(--background-secondary);
        border: none;
        
        color: var(--brand-primary);
        font: bold 0.9rem sans-serif;
        text-align: center;
        
        padding: 0 0.6rem;
        cursor: pointer;
        
        transition: background var(--transition), color var(--transition);
        
        svg { 
            fill: var(--brand-primary); 
            transition: fill var(--transition);
        }
        
        &:hover {
            background: var(--background-tertiary);
            color: var(--brand-tertiary);
            svg { fill: var(--brand-tertiary); }
        }
        
        &:last-child {
            border-radius: 0 calc(var(--radius) - 2px) calc(var(--radius) - 2px) 0;
        }
    }
}

.main_content_container {
    display: flex;
    gap: 5px;
    
    overflow-x: auto;
    
    height: fit-content;
    
    .content {
        display: flex;
        
        height: 14.5em;
        
        background: color-mix(in srgb, var(--background-primary) 90%, transparent);
        border: 2px solid var(--background-secondary);
        box-shadow: var(--shadow);
        
        overflow: auto;
        
        .main { 
            flex: 1;
        }
        
        &:not(.fit) {
            flex: 1;
        }
        
        .controls { 
            display: flex; 
            flex-direction: column;
            
            button {
                flex: 1;
                aspect-ratio: 1 / 1;
                
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                
                background: var(--background-secondary);
                border: none;
                
                color: var(--brand-primary);
                font: bold 0.9rem sans-serif;
                text-align: center;
                
                padding: 0 0.6rem;
                cursor: pointer;
                
                transition: background var(--transition), color var(--transition);
                
                svg { 
                    fill: var(--brand-primary); 
                    transition: fill var(--transition);
                }
                
                &:disabled {
                    cursor: not-allowed;
                    color: var(--text-secondary);
                    background: var(--background-primary);
                    svg { fill: var(--text-secondary); }
                }
                
                &:not(&:disabled):hover {
                    background: var(--background-tertiary);
                    color: var(--brand-tertiary);
                    svg { fill: var(--brand-tertiary); }
                }
            }
        }
        
        &:first-of-type {
            border-radius: var(--radius) 0 0 var(--radius);
            .controls button:first-child { border-top-left-radius: calc(var(--radius) - 2px); }
            .controls button:last-child { border-bottom-left-radius: calc(var(--radius) - 2px); }
        }
        
        &:last-of-type {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
        
        .center {
            gap: 5px;
        }
        
        #launcher_progress {
            display: flex;
            align-items: center;
            justify-content: center;
            
            max-width: 75%;
            height: 1.5em;
            
            border-radius: var(--radius);
            
            background: var(--background-tertiary);
        }
        
        #play_button {
            position: relative;
            
            width: 75%;
            
            cursor: pointer;
            background: var(--background-secondary);
            
            border: none;
            border-radius: var(--radius);
            
            color: var(--brand-primary);
            font-weight: bolder;
            font-size: 1.5em;
            
            padding: 0.4em 0em;
            
            transition: background var(--transition), color var(--transition);
            
            &:not(&:disabled):hover {
                background: var(--background-tertiary);
                color: var(--brand-tertiary);
            }
            
            &:disabled {
                background: var(--background-primary);
                cursor: not-allowed;
            }
        }
    }
}

.nameplate {
    font-family: "Mojangles", "Arial", monospace;
    color: var(--text-primary);
}

#player_skin_container {
    display: flex;
    flex-direction: column;
    
    img {
        width: 50%;
        aspect-ratio: 1 / 2;
    }
    
    .preview_container {
        .center {
            gap: 5px;
        }
        
        flex: 1;
        
        padding: 5px;
    }

    .center .flake_ui_loader {
        margin: 0 2.5em;
    }
}

#player_list_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    height: calc(100% - 10px);
    overflow: auto;
    
    padding: 5px;
    
    button:not(.nameplate_controls button) {
        display: flex;
        flex-direction: row;
        
        align-items: center;
        justify-content: center;
        gap: 4px;
        
        background: var(--background-secondary);
        border: none;
        border-radius: calc(var(--radius) - 2px);
        
        color: var(--brand-primary);
        font: bold 0.9rem sans-serif;
        text-align: center;
        
        padding: 0.6rem;
        cursor: pointer;
        
        transition: background var(--transition);
        
        svg { 
            fill: var(--brand-primary); 
            transition: fill var(--transition);
        }
        
        &:hover {
            background: var(--background-tertiary);
            color: var(--brand-tertiary);
            svg { fill: var(--brand-tertiary); }
        }
    }
    
    .nameplate {
        display: flex;
        flex-direction: row;
        
        height: fit-content;
        
        background: var(--background-secondary);
        border-radius: var(--radius);
        transition: background var(--transition), color var(--transition);
        
        &.selected {
            background: var(--background-tertiary);
            .nameplate_controls button, .nameplate_controls span {
                background: var(--background-quarternary);
            }
        }
        
        .nameplate_content {
            display: flex;
            flex-direction: row;
            
            padding: 5px;
            
            img {
                height: 100%;
                aspect-ratio: 1 / 1;
                border-radius: var(--radius);
            }
        }
        
        .nameplate_controls {
            display: flex;
            flex-direction: column;
            flex: 1;
            
            span {
                flex: 1;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
                background: var(--background-tertiary);
                border-radius: 0 calc(var(--radius) - 2px) 0 0;
                
                color: var(--brand-primary);
                
                user-select: none;
            }
            
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                flex: 1;
                
                background: var(--background-tertiary);
                border: none;
                
                color: var(--brand-primary);
                font: bold 0.9rem sans-serif;
                text-align: center;
                
                padding: 0 0.6rem;
                cursor: pointer;
                
                transition: background var(--transition);
                
                svg { 
                    fill: var(--brand-primary); 
                    transition: fill var(--transition);
                }
                
                &:not(&:disabled):hover {
                    background: var(--background-quinary);
                    color: var(--brand-tertiary);
                    svg { fill: var(--brand-tertiary); }
                }
                
                &:disabled {
                    background: var(--background-secondary);
                    cursor: not-allowed;
                }
                
                &:last-child {
                    border-radius: 0 0 calc(var(--radius) - 2px) 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .dashboard_content {
        .heading {
            .logo_container {
                display: none;
            }
        }
        
        .main_content_container .content #play_button {
            width: 100%;
        }
    }
}

@media screen and (max-width: 400px) {
    .dashboard_content {
        display: none;
    }
    
    .warning_too_small {
        display: flex;
    }
}